 .Css_background_royalblue{
     background-color:royalblue;
     margin: 25px;
 }

span {
    color:blue ;
}
          
.nav{
    display : flex;
    justify-content:space-around;
    align-items: center;
    background-color: lime;
}
li:hover{
    text-shadow:0px 0px 4px lightgray;
}
.hidden{
    display:block;
}
img {
    border-radius: 25%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.7;
}

img:hover{
    opacity: 1;
}

.pirmas > p {
    color:brown;
}
/**/
